.task {
    background: #f4f4f4;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: -3px 3px 2px grey;
}

.task.reminder {
    border-left: 5px solid green;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

fa-icon {
    color: #DA1F26;
}